<!-- Content
================================================== -->

<div class="container">

    <div class="row">

        <div class="content col-md-8" >

            <!-- Game Scoreboard -->
            <div class="card">
                <header class="card__header card__header--has-btn">
                    <h4>Marcador del Juego</h4>
                </header>
                <div class="card__content">

                    <!-- Game Result -->
                    <div class="game-result">
                        <section class="game-result__section">
                            <header class="game-result__header">
                                <h3 class="game-result__title">{{match.championship.name}}</h3>
                                <time class="game-result__date" datetime="{{match.date | date}}">{{match.date | date}}</time>
                            </header>
                            <div class="game-result__content">

                                <!-- 1st Team -->
                                <div class="game-result__team game-result__team--first">
                                    <figure class="game-result__team-logo">
                                        <img src="assets/images/samples/logo-alchemists--sm.png" alt="">
                                    </figure>
                                    <div class="game-result__team-info">
                                        <h5 class="game-result__team-name">{{match.local.name}}</h5>
                                        <div class="game-result__team-desc">Local</div>
                                    </div>
                                </div>
                                <!-- 1st Team / End -->

                                <div class="game-result__score-wrap">
                                    <div class="game-result__score">
                                        <span class="game-result__score-result"
                                                data-ng-class="{
                                                'game-result__score-result--winner': match.result,
                                                'game-result__score-result--loser': !match.result,
                                                                }">
                                            {{match.scoreLocal}}
                                        </span>
                                        <span class="game-result__score-dash">-</span>
                                        <span class="game-result__score-result"
                                              data-ng-class="{
                                                'game-result__score-result--winner': !match.result,
                                                'game-result__score-result--loser': match.result,
                                                                }">
                                        {{match.scoreVisitor}}</span>
                                    </div>
                                    <div class="game-result__score-label">Resultado Final</div>
                                </div>

                                <!-- 2nd Team -->
                                <div class="game-result__team game-result__team--second">
                                    <figure class="game-result__team-logo">
                                        <img src="assets/images/samples/logo-sharks--sm.png" alt="">
                                    </figure>
                                    <div class="game-result__team-info">
                                        <h5 class="game-result__team-name">{{match.visitor.name}}</h5>
                                        <div class="game-result__team-desc">Visitante</div>
                                    </div>
                                </div>
                                <!-- 2nd Team / End -->
                            </div>

                            <div class="game-result__stats">
                                <div class="row">
                                    <div class="col-12 col-md-6 order-md-2 game-result__stats-scoreboard">
                                        <div class="game-result__table-stats">
                                            <div class="table-responsive">
                                                <table class="table table__cell-center table-wrap-bordered table-thead-color">
                                                    <thead>
                                                    <tr>
                                                        <th>Marcador</th>
                                                        <th>1</th>
                                                        <th>2</th>
                                                        <th>3</th>
                                                        <th>4</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th>{{match.local.name}}</th>
                                                        <td>{{scoreQuarterLocal[1]}}</td>
                                                        <td>{{scoreQuarterLocal[2]}}</td>
                                                        <td>{{scoreQuarterLocal[3]}}</td>
                                                        <td>{{scoreQuarterLocal[4]}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{match.visitor.name}}</th>
                                                        <td>{{scoreQuarterVisitor[1]}}</td>
                                                        <td>{{scoreQuarterVisitor[2]}}</td>
                                                        <td>{{scoreQuarterVisitor[3]}}</td>
                                                        <td>{{scoreQuarterVisitor[4]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 order-md-1 game-result__stats-team-1">

                                        <!-- Progress: Assists -->
                                        <div class="progress-stats">
                                            <div class="progress__label">ASS</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar-width-0" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">22</div>
                                        </div>
                                        <!-- Progress: Assists / End -->

                                        <!-- Progress: Rebounds -->
                                        <div class="progress-stats">
                                            <div class="progress__label">Reb</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar-width-0" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">35</div>
                                        </div>
                                        <!-- Progress: Rebounds / End -->

                                        <!-- Progress: Steals -->
                                        <div class="progress-stats">
                                            <div class="progress__label">STE</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar-width-0" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">14</div>
                                        </div>
                                        <!-- Progress: Steals / End -->

                                        <!-- Progress: Blocks -->
                                        <div class="progress-stats">
                                            <div class="progress__label">BLK</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar-width-0" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">26</div>
                                        </div>
                                        <!-- Progress: Blocks / End -->

                                        <!-- Progress: Fouls -->
                                        <div class="progress-stats">
                                            <div class="progress__label">FOU</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar-width-0" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">18</div>
                                        </div>
                                        <!-- Progress: Fouls / End -->

                                    </div>
                                    <div class="col-6 col-md-3 order-md-3 game-result__stats-team-2">
                                        <!-- Progress: Assists -->
                                        <div class="progress-stats">
                                            <div class="progress__label">ASS</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar--info progress__bar-width-0" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">36</div>
                                        </div>
                                        <!-- Progress: Assists / End -->

                                        <!-- Progress: Rebounds -->
                                        <div class="progress-stats">
                                            <div class="progress__label">Reb</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar--info progress__bar-width-0" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">18</div>
                                        </div>
                                        <!-- Progress: Rebounds / End -->

                                        <!-- Progress: Steals -->
                                        <div class="progress-stats">
                                            <div class="progress__label">STE</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar--info progress__bar-width-0" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">24</div>
                                        </div>
                                        <!-- Progress: Steals / End -->

                                        <!-- Progress: Blocks -->
                                        <div class="progress-stats">
                                            <div class="progress__label">BLK</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar--info progress__bar-width-0" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">23</div>
                                        </div>
                                        <!-- Progress: Blocks / End -->

                                        <!-- Progress: Fouls -->
                                        <div class="progress-stats">
                                            <div class="progress__label">FOU</div>
                                            <div class="progress">
                                                <div class="progress__bar progress__bar--info progress__bar-width-0" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress__number">14</div>
                                        </div>
                                        <!-- Progress: Fouls / End -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="game-result__section">
                            <header class="game-result__subheader card__subheader">
                                <h5 class="game-result__subtitle">Game Statistics</h5>
                            </header>
                            <div class="game-result__content mb-0">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="circular">
                                                    <div class="circular__bar" data-percent="88">
                                                        <span class="circular__percents">88<small>%</small></span>
                                                    </div>
                                                    <span class="circular__label">Shot<br> Accuracy</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="circular">
                                                    <div class="circular__bar" data-percent="63">
                                                        <span class="circular__percents">63<small>%</small></span>
                                                    </div>
                                                    <span class="circular__label">Pass<br> Accuracy</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="circular">
                                                    <div class="circular__bar" data-percent="75.5">
                                                        <span class="circular__percents">75.5<small>%</small></span>
                                                    </div>
                                                    <span class="circular__label">Total<br> Efficiency</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-4 col-push-8 col-md-push-0">
                                                <div class="circular">
                                                    <div class="circular__bar" data-percent="72.5" data-bar-color="#0cb2e2">
                                                        <span class="circular__percents">72.5<small>%</small></span>
                                                    </div>
                                                    <span class="circular__label">Total<br> Efficiency</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="circular">
                                                    <div class="circular__bar" data-percent="53" data-bar-color="#0cb2e2">
                                                        <span class="circular__percents">53<small>%</small></span>
                                                    </div>
                                                    <span class="circular__label">Pass<br> Accuracy</span>
                                                </div>
                                            </div>
                                            <div class="col-4 col-pull-8 col-md-pull-0">
                                                <div class="circular">
                                                    <div class="circular__bar" data-percent="92" data-bar-color="#0cb2e2">
                                                        <span class="circular__percents">92<small>%</small></span>
                                                    </div>
                                                    <span class="circular__label">Shot<br> Accuracy</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>



                    </div>
                    <!-- Game Result / End -->



                </div>
            </div>
            <!-- Game Scoreboard / End -->


            <div class="card card--has-table">
                <div class="card__header card__header--has-btn">
                    <h4>Estadisticas {{match['local'].name}}</h4>
                </div>
                <div class="card__content">
                    <div class="table-responsive">
                        <table class="table table--lg team-roster-table">
                            <thead>
                            <tr>
                                <th class="team-roster-table__number">NBR</th>
                                <th class="team-roster-table__name">Player Name</th>
                                <th class="team-roster-table__position hidden-xs hidden-sm">Position</th>
                                <th class="team-roster-table__age">Pts</th>
                                <th class="team-roster-table__height">Ast</th>
                                <th class="team-roster-table__weight">Reb</th>
                                <th class="team-roster-table__college">Fouls</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="player in statsPlayerLocal | orderBy: '-PTS'" >
                                <td class="team-roster-table__number">{{player.number}}</td>
                                <td class="team-roster-table__name">{{player.name}} {{player.lastName}}</td>
                                <td class="team-roster-table__position hidden-xs hidden-sm">{{msgI18n(player.position)}}</td>
                                <td class="team-roster-table__age">{{player.PTS}}</td>
                                <td class="team-roster-table__height">0</td>
                                <td class="team-roster-table__weight">0</td>
                                <td class="team-roster-table__college">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card card--has-table">
                <div class="card__header card__header--has-btn">
                    <h4>Estadisticas {{match['visitor'].name}}</h4>
                </div>
                <div class="card__content">
                    <div class="table-responsive">
                        <table class="table table--lg team-roster-table">
                            <thead>
                            <tr>
                                <th class="team-roster-table__number">NBR</th>
                                <th class="team-roster-table__name">Player Name</th>
                                <th class="team-roster-table__position hidden-xs hidden-sm">Position</th>
                                <th class="team-roster-table__age">Pts</th>
                                <th class="team-roster-table__height">Ast</th>
                                <th class="team-roster-table__weight">Reb</th>
                                <th class="team-roster-table__college">Fouls</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="player in statsPlayerVisitor | orderBy: '-PTS'" >
                                <td class="team-roster-table__number">{{player.number}}</td>
                                <td class="team-roster-table__name">{{player.name}} {{player.lastName}}</td>
                                <td class="team-roster-table__position hidden-xs hidden-sm">{{msgI18n(player.position)}}</td>
                                <td class="team-roster-table__age">{{player.PTS}}</td>
                                <td class="team-roster-table__height">0</td>
                                <td class="team-roster-table__weight">0</td>
                                <td class="team-roster-table__college">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>