<section id="main" role="main" >
	<div class="container-fluid">
		<div ng-show="!flagLoading" >

			<section class="jumbotron jumbotron-bg11 mt-15 mb15 mr-15 ml-15" data-stellar-background-ratio="0.4"
					 style="min-height: 320px;background-image: url('../image/stellar/background8.jpg') !important; ">
				<div class="overlay pattern pattern10"></div>
				<div class="container">

					<div class="row pt15">
						<div class="col-md-3 col-xs-3 pl15" >
							<a href="#/championships" class="btn btn-primary btn-outline mb5">Volver</a>
						</div>
						<div class="col-md-6 col-xs-6" >
							<h4 class="title semibold"></h4>
						</div>
						<div class="col-md-3 col-xs-3 text-right" >
							<a href="#/championship/edit/{{object.oid}}" class="btn btn-primary btn-outline mb5">Editar</a>
						</div>
					</div>

					<div style="margin: auto; width: 150px;">

					</div>
					<h1 class="thin text-white text-center font-alt">{{object.name}}</h1>
				</div>
			</section>


			<div class="page-header page-header-block mb0  hidden-xs hidden-sm">
				<div class="page-header-section">
					<h4 class="title semibold hidden-xs hidden-sm">{{object.name}}</h4>
				</div>
				<div class="page-header-section">
					<div class="row hidden-sm hidden-md hidden-lg">
						<div class="col-md-3 col-xs-3 pl15" >
							<a href="#/championships" class="btn btn-primary btn-outline mb5">Volver</a>
						</div>
						<div class="col-md-6 col-xs-6" >
							<h4 class="title semibold"></h4>
						</div>
						<div class="col-md-3 col-xs-3" >
							<a href="#/championship/edit/{{object.oid}}" class="btn btn-primary btn-outline mb5">Editar</a>
						</div>
					</div>

					<div class="toolbar hidden-xs">
						<ol class="breadcrumb breadcrumb-transparent nm">
							<li><a href="#/">Home</a></li>
							<li><a href="#/championships">Todos los Campeonatos</a></li>
						</ol>
					</div>
				</div>
			</div>


			<div class="row">

				<div class="col-md-6" >

					<div class="panel mt10" >
						<div class="panel-heading pt10">
							<div class="panel-toolbar">
								<h4 class="semibold nm ellipsis">Tabla de Posiciones</h4>
							</div>
						</div>
						<div class="panel-body pt0" >

							<table class="table" >
								<thead>
									<tr>
										<th>Id</th>
										<th>Nombre</th>
										<th>PP</th>
										<th>PG</th>
										<th>PJ</th>
										<th>Pts</th>
									</tr>

								</thead>
								<tbody>

									<tr ng-repeat="teamStat in teamsStats">
										<td>{{teamStat.oid}}</td>
										<td>{{teamStat.team.name}}</td>
										<td>{{teamStat.lostGames}}</td>
										<td>{{teamStat.winGames}}</td>
										<td>{{teamStat.playGames}}</td>
										<td>{{teamStat.points}}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>


				</div>

				<div class="col-md-6" >

					<div class="panel mt10" >
						<div class="panel-heading pt10">
							<div class="panel-toolbar">
								<h4 class="semibold nm ellipsis">Programación</h4>
								<a href="#/championship/{{object.oid}}/matches/create">Nuevo Partido</a>
							</div>
						</div>
						<div class="panel-body pt0" >

							<table class="table" >
								<thead>
								<tr>
									<th>Local</th>
									<th>Visita</th>
									<th>Cancha</th>
									<th>Fecha</th>
									<th>State</th>
								</tr>
								</thead>
								<tbody>
								<tr data-ng-repeat="match in matches">
									<td>{{match.local.name}}</td>
									<td>{{match.visitor.name}}</td>
									<td>{{match.court.name}}</td>
									<td>{{match.date}}</td>
									<td>{{match.state}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>